/* TODO */



* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  
}

body {
  background-color: #242424;
  
}


/* CABECERA */



header {
  width: 100%;
  color: aliceblue;
  background-color: darkred;
  height: 130px;
  
}

.nav{
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
 
}

.nav-toggle{
  color: white;
  background: none;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  line-height: 130px;
 display: none;
}

.nav-menu{
  display: flex;
  font-size: 20px;
  list-style: none;
}

.nav-menu-item{
font-size: 18px;

line-height: 130px;
text-transform: uppercase;
width: max-content;


}

.nav-menu-link{
padding: 0px 12px;
border-radius: 3px;

}
.nav-menu-link:hover{
  background-color: chocolate;
 transition: 0.5s;
 color: bisque;
}

.nav-link{
  color: white;
  text-decoration: none;
  display: flex;
}

.registro {
  float: right;
  color: darkgoldenrod;
}

.logo {
  height: 70px;
  width: 65px;
}

h1 {
  color: #c5c6c7;

}

.name{
  
  padding: 0 40px;
  line-height: 130px;
}
.name2 {
  color: #62bdb8;

}




/* MOBILE */


/*SECCION*/
/* CARRUSEL */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
  height: 700px;

}

.imagen-carrusel {

  width: 1200px;
}

/* PARRAFOS-HOME*/

.bienvenida {
  padding: 30px;
  margin: 7px;
  text-align: justify;
  font-size: 20px;
  overflow: hidden;
}

.parrafo-bievenida {
  height: 530px;
  overflow: hidden;

}

.parrafo-bievenida2 {
  height: 530px;
  overflow: hidden;
}

/* IMAGENES-HOME*/
.home-img {
  width: 52%;
  height: 530px;
  vertical-align: top;
  float: right;
  margin-left: 80px;
  border: 5px solid darkred;
  border-radius: 5px;

}

.card-img-top {
  width: 35rem;
  height: 500px;
}

.card-body {
  background-color: black;
  height: 420px;
  width: 35rem;

}

.card {
  border: 0px;

}

.card-title {
  color: aquamarine;
}

.card-text {
  height: 320px;
  text-align: justify;
}

.precio {

  color: rgb(42, 187, 42);
}

.info {
  margin: 50px;
  margin-left: 220px;
  margin-right: 220px;
  text-align: justify;
}

.mision {
  margin-bottom: 50px;
  color: #66fcf1;
}

.vision {
  margin-bottom: 150px;
  color: #66fcf1;
}

.extra {
  margin-right: 360px;
  text-align: left;
  color: #51dfd8;
}

.titulo-extra {
  text-decoration: underline;
  color: #c5c6c7;

}

/* FOOTER */

footer {
  padding: 18px;
  background-color: darkred;
  text-align: center;

}

.icon {

  width: 80px;
  height: 80px;

}

a {
  text-decoration: none;
}

.formulario fieldset {
  border: 2px solid darkred;
  padding: 70px;
}

.formulario legend {
  text-align: center;
  padding: 1rem;;
  display: block;
  width: 100%;
  margin-bottom: 3rem;
}

.campo {
  width: 500px;
  display: flex;
  margin-bottom: 2rem;
}

.campo label {
  flex-basis: 10rem;
}


  .campo label {
      flex-basis: 15rem;
  }


.campo input {
  padding: .5rem;
  flex: 1;
}

input[type="submit"] {
  all: unset;
  box-sizing: inherit;
  padding: .5rem;
  margin: 2rem 0 2rem 0; 
  display: block;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-weight: 900;
  transition: background-color .3s;
}

input[type="submit"]:hover {
  background-color: darkred;
  cursor: pointer;
}

@media(max-width: 768px){
  body{
    
  }

  .header{
    height: 80px;
  }
  .name{
  
    padding: 0 20px;
    line-height: 80px;
  }
  .nav-menu{
    flex-direction: column;
    font-size: 20px;
    background-color: #242424;
    width: 100%;
    height: calc(100% -0px);
    align-items: center;
    position: fixed;
    left: 0px;
    top: 80px;
    
  }
}
