/* TODO */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
body{
  background-color: #242424;
}
/* CABECERA */
header{
  width: 100%;
  color: aliceblue;
  background-color: darkred;
}

.menu{
  list-style-type: none;
  text-align: center;
  
}

.menu-item{
  text-decoration: none;
  padding: 7px;
  color: cadetblue;
}

.registro{
  float: right;
color: darkgoldenrod;}

.logo{
height: 80px;
width: 80px;
}

h1{
color: rgb(68, 189, 98);

}
.name{
  color: rgb(65, 150, 153);
}
/*SECCION*/
/* CARRUSEL */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
  height: 700px;

}
.imagen-carrusel{

  width: 1200px;
}

/* PARRAFOS-HOME*/

.bienvenida{
  padding: 30px;
  margin: 7px;
  text-align: justify;
 font-size: 20px; 
 overflow: hidden;
}

.parrafo-bievenida{
  height: 530px;
  overflow: hidden;
  
}

.parrafo-bievenida2{
  height: 530px;
  overflow: hidden;
}

/* IMAGENES-HOME*/
.home-img{
  width: 52%;
  height: 530px;
  vertical-align: top;
  float: right;
  margin-left: 80px;
  border: 5px solid black;
  border-radius: 5px;

}
.card-img-top {
  width: 35rem;
  height: 500px;
}
.card-body{
  background-color: black;
  height: 420px;
  width: 35rem;
  
}
.card{
border: 0px;

}
.card-title{
  color: aquamarine;
}

.card-text{
  height: 320px;
  text-align: justify;
}
.precio{

  color: rgb(42, 187, 42);
}
/* FOOTER */

footer{
  padding: 18px;
  background-color: darkred;
  text-align: center;

}

.icon{
  
  width:  80px;
  height: 80px;
  
}




