{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}

<section>
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/BUJIA.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">BUJÍA</h5>
                    <p class="card-text">Una bujía es un componente eléctrico que se utiliza en los motores de
                        combustión interna, como los
                        motores de gasolina y diésel, para encender la mezcla de aire y combustible en la cámara de
                        combustión del motor. Consiste en un electrodo central y una carcasa metálica que se ajusta
                        a la
                        cabeza del cilindro del motor. La carcasa metálica está aislada eléctricamente del electrodo
                        central
                        por medio de una cerámica, que permite que la corriente eléctrica fluya a través del
                        electrodo
                        central para crear una chispa que enciende la mezcla de aire y combustible en la cámara de
                        combustión. Las bujías vienen en diferentes tamaños y características, y deben ser
                        reemplazadas
                        periódicamente para garantizar un rendimiento óptimo del motor.</p>
                    <p class="precio">$42000</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/BOBINA.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">BOBINA</h5>
                    <p class="card-text">Una bobina se utiliza en el sistema de encendido de los motores de
                        combustión interna de los vehículos. Su función es transformar la baja tensión de la batería
                        del
                        coche en una tensión de alta intensidad que se utiliza para generar una chispa en las bujías
                        y
                        encender la mezcla de aire y combustible en los cilindros del motor.

                        La mayoría de las bobinas de auto son del tipo de núcleo de hierro, que consta de un núcleo
                        de
                        hierro laminado con una serie de vueltas de alambre de cobre a su alrededor. La bobina está
                        conectada a un condensador y un distribuidor de encendido, que distribuye la corriente
                        eléctrica a
                        las bujías en el orden correcto para encender cada cilindro en el momento adecuado.</p>

                    <p class="precio">$37000</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/DISCO DE FRENO.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">DISCO DE FRENO</h5>
                    <p class="card-text">Un disco de freno es un componente del sistema de frenos de un vehículo
                        que se utiliza para detener
                        o reducir la velocidad de las ruedas del vehículo. Consiste en un disco metálico circular
                        que está
                        sujeto a la rueda y que gira con ella. El disco de freno está expuesto a altas temperaturas
                        y
                        fuerzas durante su uso, por lo que está diseñado para ser resistente y duradero.

                        Cuando se pisa el pedal de freno, las pastillas de freno (que están en el sistema de frenos)
                        se
                        presionan contra el disco de freno y generan una fricción que reduce la velocidad de la
                        rueda y
                        detiene el vehículo. El disco de freno suele estar hecho de hierro fundido o acero de alta
                        resistencia, y puede estar ventilado para permitir la disipación de calor y reducir la
                        posibilidad
                        de deformación.</p>
                    <p class="precio">$55000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/AMORTIGUADORES.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">AMORTIGUADORES</h5>
                    <p class="card-text">Un amortiguador es un componente del sistema de suspensión de un vehículo
                        que se utiliza
                        para reducir la vibración y el movimiento de la carrocería del vehículo y mejorar la
                        estabilidad
                        y el confort de los pasajeros. El amortiguador está ubicado entre el chasis del vehículo y
                        el
                        eje de las ruedas, y actúa como un dispositivo de frenado hidráulico para suavizar el
                        movimiento
                        de la suspensión.

                        Los amortiguadores están compuestos por un tubo que contiene un pistón que se mueve dentro
                        de un
                        cilindro lleno de aceite hidráulico. El pistón tiene un orificio que se llama "válvula" que
                        se
                        abre y cierra para permitir que el aceite fluya a través del pistón y del cilindro. Cuando
                        las
                        ruedas del vehículo pasan sobre un bache o una superficie irregular, el aceite es forzado a
                        través de la válvula del pistón, lo que reduce el movimiento de la suspensión y amortigua el
                        impacto.</p>
                    <p class="precio">$62000</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/VALVULAS.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">VALVULAS</h5>
                    <p class="card-text">Existen diferentes tipos de válvulas en un automóvil, pero aquí te describo
                        las válvulas que se
                        encuentran en el sistema de motor de combustión interna, específicamente en el sistema de
                        admisión y escape.

                        Las válvulas de un motor de combustión interna son componentes que regulan la entrada de
                        aire y
                        combustible en el cilindro del motor (válvulas de admisión) y la salida de los gases de
                        escape
                        después de la combustión (válvulas de escape). Estas válvulas son esenciales para el
                        correcto
                        funcionamiento del motor y, por lo tanto, del vehículo.</p>

                    <p class="precio">$72000</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/EJE DE LEVAS.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">EJE DE LEVAS</h5>
                    <p class="card-text">El eje de levas es una pieza fundamental del motor de combustión interna de
                        un vehículo. Su
                        función principal es controlar la apertura y el cierre de las válvulas del motor en
                        sincronización con el movimiento del pistón.

                        El eje de levas se encuentra dentro del bloque del motor y está conectado a través de
                        engranajes
                        o una correa de distribución. El número de levas en el eje varía según el tipo de motor,
                        pero
                        generalmente se utilizan cuatro, seis u ocho levas. Las levas son excéntricas y están
                        diseñadas
                        para levantar las válvulas de admisión y escape en momentos precisos durante el ciclo del
                        motor.</p>
                    <p class="precio">$75000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/RETENES.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">RETENES</h5>
                    <p class="card-text">Los retenes de motor son piezas mecánicas utilizadas en motores de
                        combustión interna para
                        sellar y retener los fluidos dentro del motor. Están diseñados para evitar que el aceite
                        o el
                        refrigerante se filtren o escapen de su alojamiento en el motor.

                        Hay varios tipos de retenes de motor, pero todos se instalan en una ubicación donde el
                        eje del
                        motor sale de su alojamiento, como el cigüeñal, el árbol de levas o la bomba de agua. El
                        sello
                        está hecho de un material flexible como caucho o silicona, y se comprime contra el eje
                        para
                        crear un sellado hermético.</p>
                    <p class="precio">$28000</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/IMG-2/EMPAQUES.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">EMPAQUES</h5>
                    <p class="card-text"> Los empaques de motor son piezas mecánicas que se utilizan para sellar
                        la unión entre dos partes
                        del motor y evitar que los fluidos como el aceite, el agua o el combustible se filtren o
                        se
                        mezclen entre sí. Estos empaques se colocan en lugares críticos del motor, como la junta
                        de la
                        culata, la junta del cárter de aceite, la junta de la bomba de agua, entre otros.

                        Los empaques de motor están diseñados para soportar temperaturas y presiones extremas y
                        están
                        hechos de diferentes materiales según su aplicación. Los materiales más comunes
                        utilizados para
                        fabricar empaques de motor incluyen papel, corcho, goma, plástico, metal y materiales
                        compuestos.</p>

                    <p class="precio">$37000</p>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}